body{
    background-color: rgba(29, 21, 21, 0.156);
}
.layer{
    height:850px;
    width:550px;
    background:rgba(27, 59, 70, 0.2);
    margin:auto;
    border:1px solid black;
    border-radius:25px;
    box-shadow: 15px 15px 50px 5px orangered;
}
.calcbody{
    background-color:rgba(27, 59, 70, 0.2);
    height:800px;
    width:500px;
    margin-left:25px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius:25px;
}
.display-layer{
    margin-top:20px;
    margin-left:5px;
    height:150px;
    width:490px;
    background-color:rgba(27, 59, 70, 0.2);
    font-size:50px;
    border-radius:15px;

}
.outout{
    margin-top:20px;
    margin-left:15px;
    height:150px;
    width:470px;
    font-size:50px;
    border-radius:  5px;

}

button{
    height:100px;
    width:100px;
    background-color:rgba(0, 184, 175,0.5);
    margin:10px;
    font-size: 50px;
    border-radius:20px;
}